<div class="row">
  <div class="col-md-12">
    <h2 class="mb-4">Conceptual Topics</h2>
    <div *ngIf="loading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="!loading">
      <div class="list-group">
        <div *ngFor="let topic of topics" class="list-group-item list-group-item-action mb-2">
          <h4>{{ topic.name }}</h4>
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">Hints:</h5>
              <ul>
                <li *ngFor="let hint of topic.hints">{{ hint }}</li>
              </ul>
              <h5 class="card-title mt-3">Code Snippets:</h5>
              <pre *ngFor="let snippet of topic.snippets" class="bg-light p-2 rounded"><code>{{ snippet }}</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>